body.assist-normal{
    h1{font-size: 1.5625rem;}
    h2{font-size: 1.4375rem;}
    h3{font-size: 1.3125rem;}
    h4{font-size: 1.1875rem;}
    h5{font-size: 1.0625rem;}
    h6{font-size: .9375rem;}
    .popover, .btn{font-size: .8125rem;}
    font-size: .8125rem;
    .font-size-xs {font-size: .6875rem;}
}
body.assist-medium{
    h1{font-size: 1.75rem;}
    h2{font-size: 1.625rem;}
    h3{font-size: 1.5rem;}
    h4{font-size: 1.375rem;}
    h5{font-size: 1.25rem;}
    h6{font-size: 1.125rem;}
    .popover, .btn{font-size: 1rem;}
    font-size: 1rem;
    .font-size-xs {font-size: 0.875rem;}
}
body.assist-large {
    h1{font-size: 1.9375rem;}
    h2{font-size: 1.8125rem;}
    h3{font-size: 1.6875rem;}
    h4{font-size: 1.5625rem;}
    h5{font-size: 1.4375rem;}
    h6{font-size: 1.3125rem;}
    .popover, .btn{font-size: 1.1875rem;}
    font-size: 1.1875rem;
    .font-size-xs {font-size: 1.0625rem;}
}
body.assist-xlarge{
    h1{font-size: 2.125rem;}
    h2{font-size: 2rem;}
    h3{font-size: 1.875rem;}
    h4{font-size: 1.75rem;}
    h5{font-size: 1.625rem;}
    h6{font-size: 1.5rem;}
    .popover, .btn{font-size: 1.375rem;}
    font-size: 1.375rem;
    .font-size-xs {font-size: 1.25rem;}
}

body.assist-white{
    color: #000;
    background-color: #ffffff;
    img, embed{-webkit-filter: grayscale(100%);filter: grayscale(100%);}
    a {
        color: #000;
    }
    .navbar {
        box-shadow:none;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
    .breadcrumb-line-light {
        background-color: #ffffff;
        color: #000;
        border-bottom: 1px solid #000;
    }
    .breadcrumb-line {
        box-shadow: none;
    }
    .card {
        box-shadow: none;
        border: 1px solid #000;
    }
    .hexa-block-content-accordion .card-header:not([class*=bg-]):not([class*=alpha-]) {
        background: #fff;
        border-bottom: 1px solid #000;
    }
    span[data-popup=popover] {
        color: #000;
    }
    .bg-warning {
        background-color: #000!important;
    }
    .text-danger{
        color: #000!important;
    }
    .nav-link.active .text-danger{
        color: #fff!important;
    }
    .warning-box {
        border-color: #000;
    }
    .warning-box-text:before, .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
        -webkit-filter: grayscale(100%);filter: grayscale(100%);
    }
    .sidebar-light .nav-sidebar .nav-link:not(.disabled) {
        color: #000;
    }
    .sidebar-light {
        color: #000;
    }
    .btn-success, .btn-primary {
        background-color: #000;
    }
    .btn-light {
        color: #000;
        background-color: #fff;
    }
    .breadcrumb-item.active {
        color: #000;
    }
    .bg-success {
        background-color: #000!important;
    }
    .glossary a {
        color: #000;
        border-bottom: 1px solid #000;
    }
    .glossary a.active, .glossary a:hover {
        color: #000;
    }
    .sidebar-expand-md.sidebar-main {
        box-shadow: none;
    }
    .custom-control-label::before {
        background-color: #fff;
        border: 1px solid #000;
    }
    .form-control:not(.border-bottom-1):not(.border-bottom-2):not(.border-bottom-3):focus {
        border-color: #000;
    }

    .popover {
        border: 1px solid rgba(0,0,0,1);
        box-shadow: none;
    }
    .popover-body {
        color: #000;
    }
    .sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .nav-sidebar>.nav-item>.nav-link.active {
        background-color: #000;
        color: #fff;
        /*border-top: 1px solid #000;*/
        /*border-bottom: 1px solid #000;*/
    }
    .sidebar-light .nav-sidebar .nav-link:not(.disabled):not(.active):hover {
        background-color: #fff;
        outline: 1px solid #000;
    }
    .alert {
        box-shadow: none;
    }
    .alert-success {
        color: #000;
        background-color: #fff;
        border-color: #000;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #000;
    }
    .sidebar-light .nav-sidebar .nav-item > .nav-link.active {
        background-color: #000;
        color: #fff;
    }
}