.navbar a{
	color: #333333;
}
.navbar-brand{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.navbar-brand img {
    height: 5rem;
}

.nav-link.disabled{
	cursor: not-allowed;
}

.answer-move{
	cursor: move;
}

#loadavatar{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.avatar{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.avatar img{
    width: 100%;
}
.avatar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
}
.avatar:before {
    content:"+";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 2em;
    opacity: 0;
}
.avatar:hover:before,
.avatar:hover:after { opacity: 1; }

.btn-remove-accordion-element{display:none;}

    .footer-images{
        flex-wrap: nowrap;
    }

    .footer-images img{
        max-width: 100%;
    }
    .footer-images div{
        flex-grow: 1;
        flex-shrink: 1;
        margin-top: 10px;
        margin-top: 10px;
    }
    .footer-images div:nth-child(1){
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-images div:nth-child(2){
        margin-left: 20px;
        margin-right: 145px;
    }
    @media screen and (max-width: 1399px) {
        .footer-images{
            flex-wrap: wrap;
        }
        .footer-images div:nth-child(3){
            flex-basis: 100%;
        }
        .footer-images div:nth-child(2){
            margin-right: 20px;
        }
    }

    .footer-text{
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;
    }
    .footer-app-name{
        /*flex-basis: 100%;*/
    }
    .footer-app-name h5{
        white-space: nowrap;
    }
    .footer-pages h5{
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        white-space: nowrap;
        text-align: right;
    }
    @media screen and (max-width: 1199px) {
        .footer-text {
            flex-basis: 100%;
            flex-direction: row;
        }
        .footer-app-name{
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
        }
    }

.sidebar-light .nav-sidebar .nav-item > .nav-link.active {
    color: #fff;
    background-color: #4caf50;
}

.nav-group-sub .nav-link {
    padding: 0.625rem 1.25rem 0.625rem 2.50rem;
}
.nav-group-sub .nav-group-sub .nav-link {
    padding-left: 3.75rem;
}
a.btn.disabled {
    cursor: not-allowed!important;
    pointer-events: auto;
}

/* Popover */

#popover-close{
    position:absolute;
    top:5px;
    right: 8px;
}