.content-area [data-action=remove]{
    display: none;
}
    .warning-box{
        clear: both;
        padding: 15px 15px 15px 35px;
        border: 2px solid #af091d;
        border-radius: 5px;
        margin-left: 15px;
        position: relative;
        margin-bottom: 15px;
    }

    .warning-box-text:before, .warning-box-important:before, .warning-box-webinar:before, .warning-box-video:before,
    .warning-box-tasks:before, .warning-box-history:before, .warning-box-pictures:before, .warning-box-tools:before,
    .warning-box-literature:before, .warning-box-selfeducation:before, .warning-box-fulltime:before, .warning-box-example:before,
    .warning-box-expert:before, .warning-box-quotes:before, .warning-box-checklist:before, .warning-box-exam:before{
        content: '';
        position: absolute;
        top: 10px;
        left: -21px;
        height: 41px;
        width: 41px;
    }
    .warning-box-text:before{background: url(../assets/img/icons/text.png);}
    .warning-box-important:before{background: url(../assets/img/icons/important.png);}
    .warning-box-webinar:before{background: url(../assets/img/icons/webinar.png);}
    .warning-box-video:before{background: url(../assets/img/icons/video.png);}
    .warning-box-tasks:before{background: url(../assets/img/icons/tasks.png);}
    .warning-box-history:before{background: url(../assets/img/icons/history.png);}
    .warning-box-pictures:before{background: url(../assets/img/icons/pictures.png);}
    .warning-box-tools:before{background: url(../assets/img/icons/tools.png);}
    .warning-box-literature:before{background: url(../assets/img/icons/literature.png);}
    .warning-box-selfeducation:before{background: url(../assets/img/icons/selfeducation.png);}
    .warning-box-fulltime:before{background: url(../assets/img/icons/fulltime.png);}
    .warning-box-example:before{background: url(../assets/img/icons/example.png);}
    .warning-box-expert:before{background: url(../assets/img/icons/expert.png);}
    .warning-box-quotes:before{background: url(../assets/img/icons/quotes.png);}
    .warning-box-checklist:before{background: url(../assets/img/icons/checklist.png);}
    .warning-box-exam:before{background: url(../assets/img/icons/exam.png);}

.hexa-block-content-accordion .card-header:not([class*=bg-]):not([class*=alpha-]){
    background: #f7f7f7;
}
.hexa-block-content-accordion .card-title{
    flex: 1 1 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.hexa-block-content-accordion .card-title a{
    flex: 1 1 1px;
}

.card-group-control .card-title>a:before {
    content: '\e9c1';
}
.card-group-control .card-title>a.collapsed:before {
    content: '\e9c2';
}

span[data-popup=popover]{
    cursor: pointer;
    color: #43A047;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.popover {
    max-width: 400px;
}