.loaderArea {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.avatar{
	height: 48px;
	width: 48px;
	object-fit: cover;
}

#tab-active table thead tr{
    background-color: #3f51b5;
    color: #fff;
}

    .tox-notifications-container{display: none!important;}
    .hexa-block-content-text *[contentEditable="true"]:focus,
    .hexa-block-content-text *[contentEditable="true"]:hover {
      outline: none;
    }
    .hexa-blocks{
        border: 1px dashed #f5f5f5;
        min-height: 15px;
    }
    .hexa-block{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .hexa-block-content-wrap{
        flex: 1 1 1px;
        /*padding: 15px 25px 10px;*/
        /*border: 1px dashed #f5f5f5;*/
    }
    .hexa-block-content-text{
        /*padding: 15px 25px 10px;*/
    }
    .hexa-block-content table{width: 100%!important;}
    .hexa-block-move, .hexa-block-tool {
        flex: 0 0 30px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        font-size: 1.5em;
    }
    .hexa-block-move {
        cursor: move;
    }
    .hexa-block-tool {
        justify-content: flex-end;
    }
    .hexa-block-remove{
        cursor: pointer;
    }
